{
    "extends": [
        "standard",
        "eslint:recommended",
        "google"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest/globals": true,
        "node": true
    },
    "plugins": [
        "jest",
        "class-property",
        "@typescript-eslint"
    ],
    "globals": {
        "reservedTestUsers": true
    },
    "rules": {
        "max-len": [
            1,
            {
                "ignoreUrls": true,
                "ignoreTemplateLiterals": true,
                "ignoreStrings": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "no-var": "error",
        "require-jsdoc": "off",
        "arrow-parens": "off",
        "no-console": "off",
        "new-cap": "off",
        "indent": ["error", 2, {
            "FunctionDeclaration": {
                "parameters": 4, // or an integer
                "body": 1
            },
            "FunctionExpression": {
                "parameters": 4, // or an integer
                "body": 1
            },
            "SwitchCase": 1
        }],
        "brace-style": [
            2,
            "1tbs"
        ],
        "no-loop-func": "error",
        "no-await-in-loop": 0,
        "no-useless-call": "error",
        "no-unused-vars": 0,
        "no-trailing-spaces": 0,
        "padded-blocks": [
            "error",
            {
                "blocks": "never",
                "classes": "never",
                "switches": "never"
            }
        ],
        "space-in-parens": "error",
        "linebreak-style": [
            "error",
            "windows"
        ]
    }
}
